<div class="sidebar">
    <div class="sec-input">
        <input type="text" placeholder="search for places.....">
    </div>

    <div class="sideimage1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrb84CZqnRcheibQlb5ezgpbcTcTZ1DQkcKVLVSzu3yzjj7wM1-ObLsoggxSWgiIg3KAg&usqp=CAU">
    </div>

    <div class="side-content">
        <h1>12&deg;C</h1>
        <h3>Monday,<Span>16:00</Span></h3>
    </div>

    <div class="side-content2">
        <h4><i class="fa-solid fa-cloud"></i>Mostly Cloudy</h4>
        <h3><i class="fa-solid fa-cloud-rain"></i>Rain-30%</h3>
    </div>

    <div class="side-images">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/NYC_Downtown_Manhattan_Skyline_seen_from_Paulus_Hook_2019-12-20_IMG_7347_FRD_%28cropped%29.jpg/1200px-NYC_Downtown_Manhattan_Skyline_seen_from_Paulus_Hook_2019-12-20_IMG_7347_FRD_%28cropped%29.jpg" class="rounded mx-auto d-block" alt="">
        <div class="image-text">New York,NY,USA</div>
    </div>
</div>
