<div class="heading">
  <div class="first-heading">
    <h2><span>Today</span> Week</h2>
  </div>

  <div class="second-heading">
    <h2 class="second-sub1">&deg;C</h2>
    <h2 class="second-sub2">&deg;F</h2>
  </div>
</div>
<div class="cards">
  <!-- card1 -->
  <mat-card>
    <app-card day="Sun" degree="15&deg;C" icon="cloud"></app-card>
  </mat-card>

  <!-- card2 -->
  <mat-card>
    <app-card day="Mon" degree="12&deg;C" icon="circle"></app-card>
  </mat-card>

  <!-- card3 -->
  <mat-card>
    <app-card day="Tue" degree="9&deg;C" icon="light mode"></app-card>
  </mat-card>
  <!-- card4 -->

  <mat-card>
    <app-card day="Wed" degree="8&deg;C" icon="flare"></app-card>
  </mat-card>
  <!-- card5 -->

  <mat-card>
    <app-card day="Thurs" degree="5&deg;C" icon="backup"></app-card>
  </mat-card>

  <!-- card6 -->

  <mat-card>
    <app-card day="Fri" degree="4&deg;C" icon="sunny snowing"></app-card>
  </mat-card>

  <!-- card7 -->

  <mat-card>
    <app-card day="Sat" degree="3&deg;C" icon="thunderstorm"></app-card>
  </mat-card>
</div>

<div class="heading2">
  <h3>Today's Highlights</h3>
</div>
<div class="card2">
  <!-- card1 -->
  <mat-card>
    <app-highlights title="UV Index" content="5"></app-highlights>
  </mat-card>
  <!-- card2 -->
  <mat-card>
    <app-highlights
      title="Wind Staus"
      content="7.70km/h"
      content2="WSW"
    ></app-highlights>
  </mat-card>

  <!-- card3 -->

  <mat-card>
    <app-highlights
      title="Sunrise&Sunset"
      content="6:35AM"
      content2="5:42PM"
    ></app-highlights>
  </mat-card>
  <!-- card4 -->

  <mat-card>
    <app-highlights
      title="Humidity"
      content="12%"
      content2="Normal"
    ></app-highlights>
  </mat-card>
  <!-- card5 -->

  <mat-card>
    <app-highlights
      title="visibility"
      content="5.2km"
      content2="Average"
    ></app-highlights>
  </mat-card>
  <!-- card6 -->

  <mat-card>
    <app-highlights
      title="Air Quality"
      content="105"
      content2="Unhealthy"
    ></app-highlights>
  </mat-card>
</div>
